<nav class="packet-tree">
  <section>
    <h2>All packets</h2>
    <ul>
      <li><a href="/aa/packets/">master list</a></li>
    </ul>
  </section>

  <section>
    <h2>AA:SS</h2>
    <ul>
      <li>
        ss_aristarchus
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_aristarchus/ss_aristarchus.ipynb">preview</a> |
        {% if include.current == "ss_aristarchus" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/aristarchus.html">help</a>{% endif %})
      </li>
      <li>
        ss_kepler_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_kepler_1/ss_kepler_1.ipynb">preview</a> |
        {% if include.current == "ss_kepler_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/kepler_and_orbits.html">help</a>{% endif %})
      </li>
      <li>
        ss_solar_system_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_solar_system_1/ss_solar_system_1.ipynb">preview</a> |
        {% if include.current == "ss_solar_system_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/solar_system.html">help</a>{% endif %})
      </li>
      <li>
        ss_solar_system_2
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_solar_system_2/ss_solar_system_2_clean.ipynb">preview</a> |
        {% if include.current == "ss_solar_system_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/solar_system.html">help</a>{% endif %})
      <li>
        ss_sol
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_sol/ss_sol.ipynb">preview</a> |
        {% if include.current == "ss_sun_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/sun.html">help</a>{% endif %})
      </li>
      <li>
        ss_jupiter_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_jupiter_1/ss_jupiter_1.ipynb">preview</a> |
        {% if include.current == "ss_jupiter_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/jupiter.html">help</a>{% endif %})
      </li>
      <li>
        ss_jupiter_2
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_ss/ss_jupiter_2/ss_jupiter_2.ipynb">preview</a> |
        {% if include.current == "ss_jupiter_1" %}<strong>here</strong>{% else %}<a href="/aa/ss/help/jupiter.html">help</a>{% endif %})
    </ul>
  </section>

  <section>
    <h2>AA:U</h2>
    <ul>
      <li>
        u_stars_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_stars_1/u_stars_1.ipynb">preview</a> |
        {% if include.current == "u_stars_1" %}<strong>here</strong>{% else %}<a href="/aa/u/help/stars_1.html">help</a>{% endif %})
      </li>
      <li>
        u_ism_and_star_birth
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_ism_and_star_birth/u_ism_and_star_birth.ipynb">preview</a> |
        {% if include.current == "u_ism_and_star_birth" %}<strong>here</strong>{% else %}<a href="/aa/u/help/interstellar_matter_and_star_birth.html">help</a>{% endif %})
      </li>
      <li>
        u_stellar_evolution
        <ul>
          <li>
            part i
            (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_stellar_evolution_1/u_stellar_evolution_1.ipynb">preview</a> |
            {% if include.current == "u_stellar_evolution_1" %}<strong>here</strong>{% else %}<a href="/aa/u/help/stellar_evolution.html#packet_1">help</a>{% endif %})
          </li>
          <li>
            part ii
            (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_stellar_evolution_2/u_stellar_evolution_2.ipynb">preview</a> |
            {% if include.current == "u_stellar_evolution_2" %}<strong>here</strong>{% else %}<a href="/aa/u/help/stellar_evolution.html#packet_2">help</a>{% endif %})
          </li>
          <li>
            part iii
            (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_stellar_evolution_3/u_stellar_evolution_3.ipynb">preview</a> |
            {% if include.current == "u_stellar_evolution_3" %}<strong>here</strong>{% else %}<a href="/aa/u/help/stellar_evolution.html#packet_3">help</a>{% endif %})
          </li>
        </ul>
      </li>
      <li>
        u_galaxies_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_galaxies_1/u_galaxies_1.ipynb">preview</a> |
        {% if include.current == "u_galaxies_1" %}<strong>here</strong>{% else %}<a href="/aa/u/help/galaxies.html">help</a>{% endif %})
      </li>
      <li>
        u_cosmology_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_u/u_cosmology_1/u_cosmology_1.ipynb">preview</a> |
        {% if include.current == "u_cosmology_1" %}<strong>here</strong>{% else %}<a href="/aa/u/help/cosmology.html">help</a>{% endif %})
      </li>
    </ul>
  </section>

  <section>
    <h2>AA:X</h2>
    <ul>
      <li>
        x_dimensional_analysis
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_x/x_dimensional_analysis/x_dimensional_analysis.ipynb">preview</a> |
        {% if include.current == "x_dimensional_analysis" %}<strong>here</strong>{% else %}<a href="/aa/x/help/dimensional_analysis.html">help</a>{% endif %})
      </li>
      <li>
        x_astrodynamics_1
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_x/x_astrodynamics_1/x_astrodynamics_1.ipynb">preview</a> |
        {% if include.current == "x_astrodynamics_1" %}<strong>here</strong>{% else %}<a href="/aa/x/help/astrodynamics.html">help</a>{% endif %})
      </li>
      <li>
        x_waves_and_light
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_x/x_waves_and_light/x_waves_and_light.ipynb">preview</a> |
        {% if include.current == "x_waves_and_light" %}<strong>here</strong>{% else %}<a href="/aa/x/help/waves_and_light.html">help</a>{% endif %})
      </li>
      <li>
        x_spectroscopy
        (<a href="https://github.com/wdlinch3/aa_assignments/blob/main/aa_x/x_spectroscopy/x_spectroscopy.ipynb">preview</a> |
        {% if include.current == "x_spectroscopy" %}<strong>here</strong>{% else %}<a href="/aa/x/help/spectroscopy.html">help</a>{% endif %})
      </li>
    </ul>
  </section>
</nav>