<nav class="packet-tree">
  <section>
    <h2>All packets</h2>
    <ul>
      <li><a href="/aa/packets/">master list</a></li>
    </ul>
  </section>

  {% for course in site.data.aa_packets %}
    <section>
      <h2>{{ course.title }}</h2>
      <ul>
        {% for packet in course.packets %}
          <li>
            {{ packet.label }}
            {% if packet.parts %}
              <ul>
                {% for part in packet.parts %}
                  {% assign current_match = false %}
                  {% for current_id in part.current_ids %}
                    {% if include.current == current_id %}
                      {% assign current_match = true %}
                    {% endif %}
                  {% endfor %}
                  <li>
                    {{ part.label }}
                    (<a href="{{ part.preview_url }}">preview</a> |
                    {% if current_match %}
                      <a href="{{ part.current_url | default: part.help_url }}">here</a>
                    {% else %}
                      <a href="{{ part.help_url }}">help</a>
                    {% endif %})
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {% assign current_match = false %}
              {% for current_id in packet.current_ids %}
                {% if include.current == current_id %}
                  {% assign current_match = true %}
                {% endif %}
              {% endfor %}
              ({% if packet.preview_url %}<a href="{{ packet.preview_url }}">preview</a> | {% endif %}{% if current_match %}<a href="{{ packet.current_url | default: packet.help_url }}">here</a>{% else %}<a href="{{ packet.help_url }}">help</a>{% endif %})
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</nav>
