<nav>
  <section>
    <h2>Navigation</h2>
    <ul>
      <li><a href="/">← Back home</a></li>
      <li><a href="/research/">Research overview</a></li>
      <li><a href="/cv/cv.html">CV</a></li>
      <li><a href="https://arxiv.org/search/?searchtype=author&amp;query=Linch%2C+W+D">arXiv</a></li>
      <li><a href="https://inspirehep.net/authors/1019804">INSPIRE</a></li>
    </ul>
  </section>

  <section>
    <h2>Themes</h2>
    <ul>
      <li><a href="/research/effective_actions.html">Effective actions</a></li>
      <li><a href="/research/a_theory.html">A-theory</a></li>
      <li><a href="/research/off_shell_supersymmetry-Copy1.html">Off-shell supersymmetry</a></li>
      <li><a href="/research/geometry_and_logic.html">Geometry and logic</a></li>
      <li><a href="/research/publications.html">Publications</a></li>
    </ul>
  </section>
</nav>
