<nav>
  <section>
    <h2>Research</h2>
    <ul>
      <li><a href="/research/">Research overview</a></li>
      <li><a href="/research/publications.html">Publications</a></li>
      <li><a href="/research/orientation/new_calculus_for_physics.html">A New Calculus for Physics</a></li>
    </ul>
  </section>

  <section>
    <h2>Themes</h2>
    <ul>
      <li><a href="/research/compactification/">Compactification</a></li>
      <li><a href="/research/effective_actions.html">Effective actions</a></li>
      <li><a href="/research/a_theory.html">A-theory</a></li>
      <li><a href="/research/off_shell_supersymmetry-Copy1.html">Off-shell supersymmetry</a></li>
      <li><a href="/research/geometry_and_logic.html">Geometry and logic</a></li>
    </ul>
  </section>

  <section>
    <h2>Related</h2>
    <ul>
      <li><a href="/natural_philosophy/">Related Natural Philosophy</a></li>
    </ul>
  </section>
</nav>
