<nav>
  <section>
    <h2>Teaching</h2>
    <ul>
      <li><a href="/teaching/">Teaching overview</a></li>
      <li><a href="/teaching/#advanced_astronomy">Advanced Astronomy</a></li>
      <li><a href="/aa/ss/">AA: Solar System</a></li>
      <li><a href="/aa/u/">AA: Universe</a></li>
      <li><a href="/aa/x/">AA:X</a></li>
    </ul>
  </section>

  <section>
    <h2>Resources</h2>
    <ul>
      <li><a href="/teaching/#minicourses">Minicourses</a></li>
      <li><a href="/teaching/#resources">Resources</a></li>
      <li><a href="/aa/packets/">AA packets</a></li>
    </ul>
  </section>
</nav>
